body{
    font-size: 32px;
}

a{
    /*border-width: thick;
    border-color: red;
    border-style: dotted;*/

    /*shorthand atalho para toda as propriedades acima*/
    border: thick blue solid;
    border-bottom: 5px dotted #0f0;
    border-right: 10px dashed red;
}
p{
    text-align: center;
    width: 300px;
    height: 300px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: #ccc;
}